*{
    padding-top: 0px;
    margin: 0px;
}
body{
    background-color: #0D435C;
}
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lateral{
    background-color: #F6F1F1;
    width: 400px;
    height: 1000px;
    margin-top: 0;
    padding-top: 0;
}
.principal{
    background-color: #0D435C;
    width: 1000px;
    order: 1;
    flex-grow: 2;
}
.cabeza{
    text-align: center;
    padding: 1px 0px;
    background-color: #F6F1F1;
    width: 100%;
    height: 80px;
}
.seccion{
    display: inline-block;
    background-color: #0D435C;
    width: 99%;
    height: 91%;
}
.titulop{
    content: 100%;
    margin: 0;
    border: 0;
    padding: 1.3% 0px;

}
.imgperfil{
    display: block;
    background-color: #146C94;
    margin: 1%;
    margin-top: 0;
    width: 98%;
}
.foto{
    margin-left: 20%;
    height: 212px;
    width: 212px;
    border-radius: 100%;
}
.datos{
    display: block;
    background-color: #146C94;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 98%;
    height: 18.4%;
}
.info{
    display: block;
    background-color: #0D435C;
    margin: 1%;
    margin-right: 0;
    width: 99%;
    height: 31%;
}
.box1{
    display: inline-block;
    background-color: #F6F1F1;
    width: 100%;
    height: 15%;
    margin-bottom: 1%;
}
.box2{
    display: inline-block;
    background-color: #F6F1F1;
    width: 100%;
    height: 80%;
}
.box1main{
    display: inline-block;
    background-color: #146C94;
    width: 100%;
    height: 15%;
    margin-bottom: 1%;
    border-radius: 100px;
}
.box2main{
    display: inline-block;
    background-color: #F6F1F1;
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
.titulo{
    content: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 5%;

}
.texto{
    font-size: 20px;
    content: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    padding-left: 5%;
}
.titulomain{
    color: #F6F1F1;
    content: 100%;
    margin: 0;
    border: 0;
    padding: 0.5% 2%;
}
.textomain{
    font-size: 22px;
    font-weight: bold;
    content: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    padding: 0.5% 2%;
}
.textoparrafo{
    font-size: 20px;
    content: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    padding: 0.5% 2%;
}
.redes{
    display: inline-block;
    height: 30%;
    width: 30%;
    margin-bottom: 1%;
}
.fotoredes{
    margin: 0% 30%;
    width: 37px;
    height: 32px;
}
.textoredes{
    float: right;
    height: 30%;
    width: 70%;
    margin-bottom: 1%;
}
.textocontacto{
    content: 100%;
    margin: 0;
    border: 0;
    padding: 5% 0%;
}